
{

  "summary": "Details the iterative requirements elicitation process: gathering, analyzing, formally documenting (reification), and validating requirements with customers, looping back if expectations aren't met.",

  "keywords": ["requirements elicitation", "software specifications", "requirements analysis", "reification", "validation", "iterative process", "software engineering"]

}



SPEAKER: The process of finalizing a specification is inherently iterative

as customers and development teams work together to finalize

what the product will be in the end.

Now, the first step of this process is called requirements elicitation.

In requirements elicitation, what everyone's

doing is gathering the requirements for the system

and figuring out what will actually be built.

Once we have an idea of what those things are,

we go into the analysis phase.

So in analysis, what we're going to do is

we're going to be looking at the requirements that we've gathered

and check them for consistency to make sure

they actually make sense and don't contradict with one another.

We'll also go and try to analyze the requirements

and see if there are any trouble spots or concerns that the development

team might have.

And this is a time when the development team and the customers

might undergo a negotiation phase where they discuss the requirements that

have been gathered and their implications for the overall system,

because some things might be harder than anticipated.

Next, we go through the reification phase.



So in reification, what we're doing is we're

formally writing down our requirements in a durable format that will exist

throughout the development process.

So use cases or user stories are often used in this step.

So this is really just formalizing the output of the analysis and elicitation

phases.

And finally, going to validation.



And this is where we go back to the customer with our final list

of requirements for the system and make sure

that they match their expectations.

And if they don't, again, we'll have this back edge.

We'll go back to elicitation where we can

capture additional requirements that might have been missed along the way.

And this process might continue through several different cycles,

depending on the scale of the project.

But the tightest iteration is, of course,

right here between elicitation and analysis.

That's done upfront front as the requirements

are gathered and are looked at between the customer and the development team.
